.site-footer {
	background-color: $white;
	padding: 50px 0;
	margin-top: 14px;
}

.footer-wrap {
	display: flex;
	
	section {
		width: 30%;
		
		+ section {
			margin-left: 3.333%;
		}
	}
}

.widget-title {
	color: $blue;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.twitter {
	
	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
}

.tp_recent_tweets {
	background-color: darken($white, 10%);
	padding: 1em 1em 1em 0.8em;
	font-size: 0.9em;
	
	li {
		padding-left: 2em;
		position: relative;
		
		&::before {
			content: "";
			position: absolute;
			left: 0.15em;
			top: 0.25em;
			background: url('img/twitter.svg') no-repeat;
			display: inline-block;
			height: 1.3em;
			width: 1.3em;
		}
		
		+ li {
			padding-top: 1em;
			border-top: 2px solid $white;
			margin-top: 0.5em;
			
			&::before {
				top: 1.25em;
			}
		}
		
		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.twitter_time, .twitter_time:visited {
	float: right;
	color: darken($white, 30%);
	font-weight: 100;
	
	&::after {
		display: none;
	}
}

.copyright {
	font-size: 0.875em;
	line-height: 1.5;
	font-style: italic;
}

.lk-logo {
	width: 50%;
	margin-right: 15px;
}

.icn {
	display: inline-block;
	width: 2.2em;
	height: 2.2em;
	border-radius: 50%;
	background-color: $blue;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	transition: background-color $transMedium;
	
	&::after {
		display: none;
	}
	
	&:hover, &:focus {
		background-color: $purple;	
	}
}

.icn-twitter {
	background-image: url('img/twitter.svg');
	background-size: 65%;
	background-position-y: 55%;
}

.icn-facebook {
	background-image: url('img/facebook.svg');
	background-size: 35%;	
}

.icn-youtube {
	background-image: url('img/youtube.svg');
	background-size: 65%;	
}

.no-svg {
	.tp_recent_tweets li::before {
		background-image: url('img/twitter.png');
		background-size: contain;
	}
	
	.icn-twitter {
		background-image: url('img/twitter.png');
	}
	.icn-facebook {
		background-image: url('img/facebook.png');
	}
	.icn-youtube {
		background-image: url('img/youtube.png');
	}
}