/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	position: relative;
	min-width: 320px;
	background-color: $purple;
	z-index: 0;
}

.white-bg {
	background-color: white;
	overflow: hidden;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	list-style-position: outside;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	font-family: $font;
	font-size: 100%; // Match the defualt font size; 1em = 16px
	font-weight: 400;
	font-variant: normal;
	line-height: 1.8;
	color: $font-grey;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font;
	font-weight: 100;
	line-height: 1;
	text-transform: uppercase; 
}

h1 {
	font-size: 3rem;
	font-weight: 100;
	color: $blue;
	margin: 0.7rem 0;	
}

h2 {
	font-size: 2.5rem;
	margin: 0.4rem 0;	
	
}

h3 {
	font-size: 2.1rem;
	margin: 0.3rem 0;	
	
}

h4 {
	color: $blue;
	font-size: 1.7rem;
	margin: 0.2rem 0;	
	
}

h5 {
	color: $blue;
	font-size: 1.3rem;
	margin: 0.1rem 0;
	
}

h6 {
	font-size: 1rem;
	margin: 0.1rem 0;	
	
}

.brush {
	font-family: $font-brush;
	font-size: 3.8em;
	letter-spacing: 0.125rem;
	line-height: 1;
	text-rendering: geometricPrecision;
}

.overline {
	position: relative;
	display: inline-block;
	color: $blue;
	font-size: 1.5em;
	padding-top: 20px;
	margin-bottom: 1.25em;
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		background-image: linear-gradient(to right, $blue-light 25%, $blue 25%, $blue 50%, $purple 50%, $purple 75%, $purple-light 75%, $purple-light 100%);
		height: 5px;
		width: 100%;
	}
}

a {
	color: $purple;
	text-decoration: none;
	transition: color $transSmall;
	display: inline-block;
	word-break: break-all;
	font-weight: 700;
	position: relative;
	
	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0.2em;
		width: 100%;
		height: 1px;
		background-color: $purple;
		transform: rotateY(90deg);
		transition: transform $transSmall;
	}
	
	&:visited {
		color: $purple;
	}
	
	&:hover, &:focus {
		color: $blue;
		outline: none;
		
		&::after {
			transform: rotateY(0);
			
		}
	}
}

.no-hover-line {
	
	&::after {
		content: none;
	}
	
	&:focus::after {
		display: block;
		transform: rotateY(0);	
	}
}

p {
	margin: 0;
	vertical-align: middle;
	
	+ p, + .btn, + .btn-double, + h2, + h3, + h4, + h5, + h6, + ul {
		margin-top: 1.5em;
		
	}
}

.text-centered {
	text-align: center;
}

/*--------------------------------------------------------------
Buttons 
--------------------------------------------------------------*/
.btn {
	display: inline-block;
	position: relative;
	padding: 0.725em 1.25em 0.35em;
	border-bottom: 3px solid $purple;
	color: white;
	line-height: 1;
	font-size: 1.125em;
	font-weight: 700;
	text-transform: uppercase;
	word-break: break-word;
	background-color: $purple;	
	box-shadow: 2px 2px 1px rgba(black, 0.3);
	transition: border-color $transSmall;
	
	&:visited {
		color: white;
	}
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(13px);
		width: 0;
		height: 0;
		background: none;
		border-top: 10px solid $purple;
		border-left: 10px solid transparent;
		transition: border-color $transSmall;
	}
	
	&:hover, &:focus {
		color: white;
		border-bottom-color: $white;
		
		&::after {
			transform: translateY(13px);
			border-top-color: $white;
		}
	}
}

.btn-blue {
	background-color: $blue;
	border-bottom-color: $blue;
	
	&::after {
		border-top-color: $blue;
	}
}

.btn-white {
	background-color: white;
	border-bottom-color: white;
	color: $blue;
	
	&::after {
		border-top-color: white;
	}
	
	&:visited {
		color: $blue;
	}
	
	&:hover, &:focus {
		color: $blue;
		border-bottom-color: $blue;
	
		&::after {
			transform: translateY(13px);
			border-top-color: $blue;
		}
	}
}

.btn-double, .submit-wrapper  {
	display: inline-block;
	position: relative;
	padding: 0.425em 1.25em;
	background-color: $purple;	
	box-shadow: 2px 2px 0 $blue;
	color: white;
	font-size: 1.125em;
	font-weight: 700;
	text-transform: uppercase;
	word-break: break-word;
	white-space: nowrap;
	transition: box-shadow $transMedium;
	
	&:visited {
		color: white;
	}
	
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(2px, 12px);
		width: 0;
		height: 0;
		border-top: 10px solid $blue;
		border-left: 10px solid transparent;
		transition: transform 300ms;
	}
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateY(10px);
		width: 0;
		height: 0;
		background: none;
		border-top: 10px solid $purple;
		border-left: 10px solid transparent;
	}
	
	&:hover, &:focus {
		color: white;
		box-shadow: 5px 5px 0 $blue;
		
		&::before {
			transition: transform 450ms;
			transform: translate(5px, 15px)
		}
		
		&::after {
			transform: translateY(10px);
		}
	}
}


/*--------------------------------------------------------------
Miscellaneous
--------------------------------------------------------------*/
.constrain {
	position: relative;
	max-width: 1200px;
	height: 100%;
	padding-left: $pad;
	padding-right: $pad;
	margin: auto;
}

.grunge {
	background-image: url('img/grunge.jpg');
}

.change-collage {
	background-image: url('img/change.jpg');
}

.cf::after {
	content: '';
	display: table;
	clear: both;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

::selection {
	background-color: rgba($purple, 0.77);
	color: white;
}

.change-collage, .caption, .info-block {
	
	::selection {
		background-color: rgba($blue, 0.77);
		color: white;
	}
}

.center-text {
	text-align: center;
}

a.subtle {
	color: $purple;
	font-weight: 400;
	
	&:hover, &:focus {
		color: $purple;
	}	
}

@media (max-width: 400px) {
	
	.constrain {
		padding-left: 15px;
		padding-right: 15px;
	}
	
}