.row > div:first-child {
	transform: none;
}
	
.row > div:last-child {
	transform: none;
}
.row > div .grid-content {
	opacity: 1;
}
.answer {
	max-height: 700px;
	padding: 1.25em 0.75em 1.25em 2.3em;
}

@media (max-width: 767px) {
	.row > .grunge.grunge {
		transform: none;
	}
	
	.row > .change-collage.change-collage {
		transform: none;
	}
}

.footer-wrap {

	section {
		display: block;
		float: left;		
	}
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}		
}

.twitter_time, .twitter_time:visited {

	&::after {
		opacity: 0;
	}
	
	&:hover {
		&::after {
			opacity: 1;
		}
	}
}

.icn-fb {
	background-size: 60%;
}

.nav-wrapper {
	.site-branding {
		float: left;
		
	}
	.main-navigation {
		float: left;
	}
	.order-now-wrapper {
		float: right;
		margin-top: 20px;
	}
	.menu {
		width: auto;
		overflow: visible;
	}
}

.menu-item {
	
	&.current-menu-item a::after, &.current-page-ancestor a::after {
		opacity: 1; 
	}
	a::after {
		opacity: 0;
	}
	
	a:hover::after, a:focus::after {
		opacity: 1;
	}
}

.subnav {
	.menu {
		overflow: hidden;
	}
}

.info {
	text-align: center;
}

.info-block {
	display: inline-block;
}

.overview-wrapper {
	
	&::after {
		content: '';
		display: table;
		clear: both;		
	}
}

.grade-main {
	float: left;
}
.grade-sidebar {
	float: right;
} 

.crossover {
	padding: 0.6em 1.25em 0.35em;
	
	&::before {
		content: none;
	}
}

.flex-center {
	text-align: center;
	margin-top: 20px;
}
.did-you-know {
	display: inline-block;
	position: static;
	transform: none;
}
.dyn-icon {
	display: inline-block;
}
.lauren-image {
	display: inline-block;
	height: 70%;
}

@media (max-width: 1200px) {
	
	.row {
		> div {
			width: 100%;
		}
	}
	
	.lauren, .video, .video-2 {
		min-height: 320px;
	}
	
}