.site-header {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 88px;
	background-color: rgba(white, 0.6);
	box-shadow: 0 0 32px -5px rgba(0, 0, 0, 0.2);
	transition: background-color $transLarge;
}

.page .site-header {
	background-color: rgba(white, 0.94);
}

.whiter {
	background-color: rgba(white, 0.94);
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $font-nav;
}

.site-branding {
	display: inline-block;
	margin-top: 6px;
	width: 248px;
}

.main-navigation {
	display: inline-block;
	
	&:hover {
		
		.menu-item {
			opacity: 0.65;
		}
	}
}

.order-now {
	padding: 0.3em 0.5em;
	margin-top: -0.5em;
	font-family: $font;
	font-weight: 400;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0; //removes adjacent inline-block spaces
}

.menu-item {
	display: inline-block;
	transition: opacity $transSmall;
	
	&.menu-item:hover {
		opacity: 1;
	}
	
	&.current-menu-item a::after, &.current-page-ancestor a::after {
		transform: rotateY(0);
	}
	
	a {
		font-size: 1rem;
		display: block;
		text-transform: uppercase;
		letter-spacing: -0.85px;
		font-weight: 400;
		padding: 1.5em 0.6em calc(2.15em - 8px);
		
		&:hover {
			color: $purple;
			
		}
		
		&::after {
			position: static;
			height: 3px;
			margin-top: 5px;
		}
	}
}