.page-hero {
	background-image: url('img/grunge.jpg');
	background-size: cover;
	background-position: center center;
	height: 430px;
	padding: 136px 0 0 0;
	overflow: hidden;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.did-you-know {
	color: white;
	text-align: center;
	width: 40%;
	
	h2 {
		font-size: 2.4em;
	}
}

.lauren-image {
	background: url('img/lauren.png') no-repeat center -25px;
	width: 309px;
	height: 100%;
}

.entry-header {
	text-align: center;
	margin: 3em 0 2.25em;
}

.entry-content {
	padding: 1%;
	margin: 2.8%;
	font-size: 1.125em;
}