.page-hero {
	background-image: url('img/grunge.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	height: 342px;
	margin-top: 88px;
	padding: 0;
	overflow: hidden;
}

// subnav pages only
.page-template-template_subnav {
	
	.page-hero {
		padding-top: 48px;
	}
}

// handle double background images on inner edu pages
.page-template-template_middle_high {
	
	.page-hero {
		background-size: auto, cover;
		background-position: center center, center top;
		background-repeat: no-repeat;
	}	
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.did-you-know {
	color: white;
	text-align: center;
	width: 40%;
	font-size: 1.25em;
	line-height: 1.6;
	
	h2 {
		font-size: 2.3em;
		margin-bottom: 0.5em;
	}
	
	cite a {
		color: white;
		font-size: 0.55em;
	}
}

.dyn-icon {
	background-image: url('img/power-play.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: 309px;
	height: 170px;
	background-size: contain;
}

.entry-header {
	text-align: center;
	margin: 3em 0 2.25em;
}

.entry-content {
	padding: 1%;
	margin: 2.8% 6%;
	font-size: 1.125em;
}

.expert {
	
	img {
		display: block;
		float: left;
		width: 175px;
		height: auto;
		margin-right: 25px;
		border-radius: 50%;
		vertical-align: top;
	}
	
	> div {
		display: block;
		float: left;
		width: calc(100% - 210px);
	}
	
	+ .expert {
		margin-top: 2.5em;
	}
	
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.halves-wrap {
	margin: 3em 0 2em;
	position: relative;
	
	img {
		width: 45%;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.half {
	width: 50%;
	float: right;
	
	ul {
		margin: 0;
	}
}

.fact {
	background-color: $purple;
	padding: 1em 1.5em;
	color: white;
	width: 80%;
	font-size: 0.9em;
	position: relative;
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		transform: translate(2% ,99.7%);
		border-top: 30px solid $purple;
		border-left: 30px solid transparent;
	}
	
	&.blue {
		background-color: $blue;
		
		&::after {
			border-top-color: $blue;
		}
	}

	.brush {
		font-size: 1.3em;
	}
	
	ul {
		margin: 0.7em 0 0;
	}
}

@media (max-width: 1024px) {
	.page-template-template_middle_high {	
		.page-hero {
			background-size: 75%, cover;
		}	
	}	
}

@media (max-width: 930px) {
	.did-you-know {
		width: 60%;
		font-size: 1.1em;
		margin-right: 5%;
		
		cite a {
			font-size: 0.75em;			
		}
	}
	.dyn-icon {
		width: 25%;
		height: 130px;
		height: 100%;
	}
}

@media (max-width: 768px) {
	.page-template-template_middle_high {	
		.page-hero {
			background-size: 85%, cover;
		}	
	}	
	.page-hero {
		.lauren-image {
			width: 35%;
			height: 100%;
			margin: 0;
			background-size: contain;
			background-position: bottom center;
		}
	}
	
	.did-you-know {
		h2 {
			font-size: 1.6em;
		}
		p {
			font-size: 0.9em;
		}
	}
}

@media (max-width: 767px) {
	.page-hero {
		margin-top: 74px;
	}
	
	.halves-wrap {
		img {
			width: calc(100% + 50px);
			max-width: none;
			float: none;
			position: static;
			transform: none;
			margin: 0 -25px 1.5em;
		}
		
		&:after {
			content: none;
		}
	}
	.half {
		width: 100%;
		float: none;
	}
	
	.expert {
		img {
			width: 25%;
			margin-right: 5%;
		}
		> div {
			width: 70%;
		}
	}
	.fact {
		width: 100%;
	}
/*
	img {
		width: calc(100% + 50px);
		max-width: none;
		float: none;
		position: static;
		margin-left: -25px;
		margin-right: -25px;
	}
*/
}

@media (max-width: 600px) {
	.page-hero {
		.lauren-image {
			width: 45%;
		}
	}
	.did-you-know {
		width: 50%;
	}
	.entry-title {
		font-size: 2.5rem;
	}
}

@media (max-width: 500px) {
	.page-hero {
		height: 190px;
		
		.lauren-image {
			display: none;
		}
	}
	
	.did-you-know {
		width: 100%;
		margin: 0;
	}
	.dyn-icon {
		position: absolute;
		left: 0;
		opacity: 0.13;
		background-size: 60%;
		background-position: 113% 46%;
		width: 100%;
	}
	
	.entry-content {
		margin: 0;
		padding: 0;
		margin-bottom: 3em;
	}
}

@media (max-width: 400px) {
	.expert {
		img {
			float: none;
			width: 50%;
			margin: 0 auto 1em;
		}
		> div {
			width: 100%;
			float: none;
		}
		&::after {
			content: '';
		}
	}
	.entry-title {
		font-size: 2.1rem;
	}
}