.page-hero {
	background-image: url('img/grunge.jpg');
	background-size: cover;
	background-position: center center;
	height: 386px;
	padding: 88px 0 0 0;
	overflow: hidden;
}

// shorten the height when there's no subnav
.page-template-template_subnav {
	
	.page-hero {
		height: 430px;
		padding-top: 136px;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.did-you-know {
	color: white;
	text-align: center;
	width: 40%;
	font-size: 1.3em;
	
	h2 {
		font-size: 2.4em;
	}
}

.lauren-image {
	background: url('img/lauren.png') no-repeat center -25px;
	width: 309px;
	height: 100%;
}

.entry-header {
	text-align: center;
	margin: 3em 0 2.25em;
}

.entry-content {
	padding: 1%;
	margin: 2.8% 6%;
	font-size: 1.125em;
}