// Fonts
$font: 'Gotham', sans-serif;
$font-nav: 'GothamHTF', sans-serif;
$font-brush: 'BrushUp', sans-serif;

// Brand Colors
$blue: #00A7D0;
$purple: #501B73;
$white: #E4E4E4; 	//footer background

// Subnav colors 
$blue-light: #4CC1DE;
$purple-light: #6F5188;

// Font Colors
$font-grey: #4D4D4D;

// Misc
$transSmall:  240ms;
$transMedium: 350ms;
$transLarge:  500ms;
